
.settings
{
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.size
{
    display: flex;
    height: 100%;
}

.buttonSettings
{
    display: flex;
    max-width: 800px;
    min-width: 800px;
    max-height: 50px;
    min-height: 50px;
  
}
