
html
{
    margin-left: 0;
}
.settings
{
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.size
{
    display: flex;
    height: 100%;
}

.buttonSettings
{
    display: flex;
    max-width: 824px;
    min-width: 824px;
  
}
