

.cointainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.title
{
    font-size: 3vw;
}

.cointainer2
{
    display: flex;
    justify-content: center;
    margin-right: 6vw;
   
  
}

.cointainer3
{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
 
   
  
}
.cointainer4
{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
   
  
}


.images
{
    width: 11vw;
    height: 11vw;
    border: solid 0.5vw black;
    border-radius: 30%;
    transition: border-color 0.5s ease;
    cursor: pointer;
    margin-left: 10vw;
 
}

.images:hover
{
    border-color: aqua;
}


.datas
{

    font-size: 2vw;
}



.list
{
    font-size: 2vw;
    margin-left: 4vw;
    padding: 0.5vw;
    list-style: none;
   
}

.nag
{
    font-size: 2vw;
    margin-left: 1vw;
  
}



#l
{
    opacity: 1;
    transition: opacity 0.5s ease;
}


#l.hidden
{
    opacity: 0;
}

#list1
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list1.hidden
{
    opacity: 0;
}




#l2
{
    opacity: 1;
    transition: opacity 0.5s ease;
}


#l2.hidden
{
    opacity: 0;
}

#list2
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list2.hidden
{
    opacity: 0;
}


#l3
{
    opacity: 1;
    transition: opacity 0.5s ease;
}


#l3.hidden
{
    opacity: 0;
}

#list3
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list3.hidden
{
    opacity: 0;
}



#l4
{
    opacity: 1;
    transition: opacity 0.5s ease;
}


#l4.hidden
{
    opacity: 0;
}

#list4
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list4.hidden
{
    opacity: 0;
}



#l5
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#l5.hidden
{
    opacity: 0;
}



#list5
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list5.hidden
{
    opacity: 0;
}



#l6
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#l6.hidden
{
    opacity: 0;
}



#list6
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list6.hidden
{
    opacity: 0;
}




#l7
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#l7.hidden
{
    opacity: 0;
}



#list7
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list7.hidden
{
    opacity: 0;
}



#l8
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#l8.hidden
{
    opacity: 0;
}



#list8
{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list8.hidden
{
    opacity: 0;
}

